In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import HTML, display

In [2]:
plt.style.use('ggplot')

In [3]:
sixty = pd.read_csv('../data/860m_clean.csv')
sixtyone = pd.read_csv('../data/861m_clean.csv')
combined = pd.read_csv('../data/combined.csv')

In [16]:
sixty.head()

,UTILITYNUMBER,UTILITYNAME,PLANTID,PLANTNAME,NETSUMMERCAPACITY(MW),LATITUDE,LONGITUDE,MONTH,NAMEPLATECAPACITY(MW),NETWINTERCAPACITY(MW),DATAYEAR,GEN_TYPE
0,195,Alabama Power Co,2.0,Bankhead Dam,56.0,33.458665,-87.356823,1,56.0,56.0,2016,hydroelectric
1,195,Alabama Power Co,3.0,Barry,138.0,31.006900,-88.010300,1,138.0,138.0,2016,coal
2,195,Alabama Power Co,3.0,Barry,137.0,31.006900,-88.010300,1,137.0,137.0,2016,coal
3,195,Alabama Power Co,3.0,Barry,249.0,31.006900,-88.010300,1,249.0,249.0,2016,coal
4,195,Alabama Power Co,3.0,Barry,362.0,31.006900,-88.010300,1,362.0,362.0,2016,coal

In [17]:
sixtyone.head()

,DATAYEAR,MONTH,UTILITYNUMBER,UTILITYNAME,TOTALREVENUE,TOTALSALES,TOTALCUSTOMERS,OWNERTYPE
0,2016,1,84,A & N Electric Coop,5863.315,52619.079,35170,2
1,2016,1,176,Ajo Improvement Co,80.140,784.000,989,3
2,2016,1,195,Alabama Power Co,439393.000,4872926.000,1459675,3
3,2016,1,213,Alaska Electric Light&Power Co,4283.966,39417.826,16776,3
4,2016,1,219,Alaska Power and Telephone Co,1470.807,5414.652,7639,3

In [18]:
combined.head()

,DATAYEAR,MONTH,UTILITYNUMBER,NETSUMMERCAPACITY(MW),NETWINTERCAPACITY(MW),NAMEPLATECAPACITY(MW),is_coal,is_geothermal,is_hydroelectric,is_natural_gas,...,MW_HYDROELECTRIC,MW_NATURAL_GAS,MW_NUCLEAR,MW_OIL,MW_OTHER,MW_SOLAR,MW_WIND,TOTALREVENUE,TOTALSALES,TOTALCUSTOMERS
0,2016,1,84,5.4,5.4,5.4,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,5.4,0.0,0.0,0.0,5863.315,52619.079,35170
1,2016,1,195,13431.8,13431.8,13431.8,0.244186,0.0,0.476744,0.244186,...,1673.7,2123.7,1757.0,16.0,0.0,0.0,0.0,439393.000,4872926.000,1459675
2,2016,1,213,196.6,196.6,196.6,0.000000,0.0,0.344828,0.000000,...,102.7,0.0,0.0,93.9,0.0,0.0,0.0,4283.966,39417.826,16776
3,2016,1,219,42.7,42.7,42.7,0.000000,0.0,0.210526,0.000000,...,14.4,0.0,0.0,28.3,0.0,0.0,0.0,1470.807,5414.652,7639
4,2016,1,221,54.7,54.7,54.7,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,54.7,0.0,0.0,0.0,5015.000,11093.000,10887

In [8]:
combined.columns

Index(['DATAYEAR', 'MONTH', 'UTILITYNUMBER', 'NETSUMMERCAPACITY(MW)',
       'NETWINTERCAPACITY(MW)', 'NAMEPLATECAPACITY(MW)', 'is_coal',
       'is_geothermal', 'is_hydroelectric', 'is_natural_gas', 'is_nuclear',
       'is_oil', 'is_other/unreported', 'is_solar', 'is_wind', 'MW_COAL',
       'MW_GEOTHERMAL', 'MW_HYDROELECTRIC', 'MW_NATURAL_GAS', 'MW_NUCLEAR',
       'MW_OIL', 'MW_OTHER', 'MW_SOLAR', 'MW_WIND', 'TOTALREVENUE',
       'TOTALSALES', 'TOTALCUSTOMERS'],
      dtype='object')

In [4]:
def month(row):
    if row['DATAYEAR'] == 2016:
        return row['MONTH']
    elif row['DATAYEAR'] == 2017:
        return (12+row['MONTH'])
    elif row['DATAYEAR'] == 2018:
        return (24+row['MONTH'])
    elif row['DATAYEAR'] == 2019:
        return (36+row['MONTH'])
    

def histplot_raw(df,ax,colname='TOTALREVENUE'):
    ax.hist(df[colname],bins=20,edgecolor='black')
    ax.set_xlabel('Revenue',fontsize=16)
    ax.set_ylabel('Count of Datapoints',fontsize=16)
    ax.set_title('Distribution of Revenues (No Transformation)',fontsize=22)
    
def histplot_transform(df,ax,colname='TOTALREVENUE'):
    ax.hist(np.log(df[colname]),bins=20,edgecolor='black')
    ax.set_xlabel('Revenue',fontsize=16)
    ax.set_ylabel('Count of Datapoints',fontsize=16)
    ax.set_title('Distribution of Revenues (With Transformation)',fontsize=22)
    
def plot_gen_type(df,ax,labels,colnames=['MW_COAL','MW_GEOTHERMAL', 'MW_HYDROELECTRIC',
                                  'MW_NATURAL_GAS', 'MW_NUCLEAR','MW_OIL', 'MW_OTHER',
                                  'MW_SOLAR', 'MW_WIND']):
    for idx, col in enumerate(colnames):
        ax.plot(df['MONTH_YEAR'],df[col],label=labels[idx])
    ax.legend()
    ax.set_xlabel('Months',fontsize=16)
    ax.set_ylabel('Average MW Generated',fontsize=16)

In [54]:
combined['MONTH_YEAR'] = combined.apply (lambda row: month(row),axis=1)

In [57]:
avg_gen = combined.groupby(['MONTH_YEAR']).agg({'MW_COAL':'sum','MW_GEOTHERMAL':'sum', 'MW_HYDROELECTRIC':'sum',
                                  'MW_NATURAL_GAS':'sum', 'MW_NUCLEAR':'sum','MW_OIL':'sum', 'MW_OTHER':'sum',
                                  'MW_SOLAR':'sum', 'MW_WIND':'sum'})
avg_gen = avg_gen.reset_index()
avg_gen

,MONTH_YEAR,MW_COAL,MW_GEOTHERMAL,MW_HYDROELECTRIC,MW_NATURAL_GAS,MW_NUCLEAR,MW_OIL,MW_OTHER,MW_SOLAR,MW_WIND
0,1.0,170105.7,35.8,39186.3,172377.3,48669.9,17066.4,835.5,764.8,9387.7
1,2.0,169571.6,35.8,39211.1,170256.2,48742.9,16820.5,794.7,771.0,9805.1
2,3.0,168666.5,35.8,39191.9,170734.7,48723.4,15892.7,794.7,795.4,9834.2
3,4.0,184040.1,48.5,38509.6,202501.7,51270.1,18412.2,954.9,864.9,10543.9
4,5.0,183809.8,48.5,38588.4,202996.5,51270.1,18410.6,960.9,878.1,10543.9
5,6.0,183289.8,48.5,38588.4,203016.6,52540.0,18410.9,985.9,895.2,10542.6
6,7.0,182576.8,48.5,38591.3,204204.2,52540.0,18410.9,985.9,935.7,10542.6
7,8.0,181754.8,48.5,38597.7,204199.5,52540.0,18327.3,985.9,951.0,10686.6
8,9.0,181754.8,48.5,38597.7,204331.3,52540.0,18327.3,987.9,951.0,10777.1
9,10.0,181754.8,48.5,38597.7,204331.3,52038.0,18327.3,1017.9,1012.4,10777.1
10,11.0,181754.8,48.5,38597.7,204331.3,52038.0,18350.1,1017.9,1017.0,10865.5
11,12.0,181317.8,48.5,38598.2,205700.4,52038.0,18342.0,1069.9,1393.1,11516.3
12,13.0,181317.8,48.5,38598.2,206219.5,52038.0,18325.7,1079.9,1438.3,11551.3
13,14.0,181317.8,48.5,38598.2,206434.2,52038.0,18279.0,1079.9,1498.8,11551.3
14,15.0,181023.0,48.5,38597.7,206389.7,52038.0,18264.8,1079.9,1563.2,11801.8
15,16.0,177246.0,48.5,38646.4,210510.9,52038.0,18239.4,1098.9,1586.0,11801.8
16,17.0,177081.0,48.5,38573.3,210890.6,52038.0,17732.3,1111.1,1642.9,11801.8
17,18.0,176907.7,48.5,38574.3,210024.9,52038.0,16596.1,1121.1,1564.7,11801.8
18,19.0,176901.7,48.5,38643.6,210114.9,52038.0,16521.2,1123.5,1617.8,11831.3
19,20.0,176901.7,48.5,38643.6,209314.9,52038.0,16522.4,1123.5,1575.1,12026.8
20,21.0,176317.2,48.5,38718.6,209675.6,52038.0,16521.2,1222.7,1578.9,11846.4
21,22.0,176317.2,48.5,38718.6,209807.6,52038.0,16522.2,1222.7,1600.4,11846.4
22,23.0,175389.5,48.5,38718.6,209929.3,52038.0,16466.0,1222.7,1609.2,11846.4
23,24.0,173438.3,48.5,38683.1,210985.8,52038.0,16466.4,1222.7,1631.5,12017.0
24,25.0,171699.5,48.5,38679.4,211397.6,52038.0,16464.1,1261.7,1955.9,13024.7
25,26.0,171699.5,48.5,38689.4,211930.9,52038.0,16467.8,1244.1,1980.4,13123.7
26,27.0,171424.5,48.5,38689.4,212225.3,52038.0,16416.8,1246.1,2287.8,13123.7
27,28.0,169201.3,48.5,38689.4,214961.7,52038.0,16417.0,1246.1,2289.7,13134.2
28,29.0,167709.3,48.5,38595.5,216386.9,52038.0,16415.0,1260.1,2281.1,13134.2
29,30.0,164763.4,48.5,38648.3,215173.1,52038.0,16226.9,1310.5,2277.6,13136.5
30,31.0,164630.0,48.5,38648.3,215173.1,52038.0,16360.3,1313.5,2277.6,13136.5
31,32.0,164630.0,48.5,38648.3,215173.1,52038.0,16360.3,1312.0,2277.6,13136.5
32,33.0,164279.0,48.5,38648.3,215173.1,52038.0,16360.3,1313.1,2461.2,13136.5
33,34.0,163965.8,48.5,38648.3,215632.4,52038.0,16360.3,1333.1,2472.8,13136.5
34,35.0,163965.8,48.5,38648.3,216389.7,52038.0,16360.3,1333.1,2481.0,13354.5
35,36.0,162475.5,48.5,38643.5,218163.0,52038.0,16362.2,1338.1,2706.9,14597.3
36,37.0,163427.5,48.5,38725.4,218173.9,52038.0,16409.9,1337.9,3078.2,14644.2
37,38.0,162068.3,48.5,38728.5,219385.7,52038.0,16409.9,1339.0,3118.4,14840.0
38,39.0,160803.5,48.5,38729.7,219090.2,52038.0,16356.1,1249.0,3174.1,15470.5
39,40.0,159717.7,48.5,38727.3,219585.8,52038.0,16391.3,1249.0,3174.1,15470.5
40,41.0,159717.7,48.5,38709.9,220725.5,52038.0,16389.3,1229.0,3174.1,15470.5
41,42.0,159158.5,48.5,38709.9,219246.4,52038.0,14539.0,1189.0,3178.0,15470.5
42,43.0,158027.9,48.5,38642.6,219246.4,52038.0,14539.0,1189.0,3231.6,15470.5
43,44.0,158027.9,48.5,38642.6,219246.4,52038.0,14548.1,1247.2,3243.6,15470.5
44,45.0,158027.9,48.5,38642.6,219246.4,52038.0,14548.1,1253.2,3259.6,15527.2
45,46.0,157224.8,48.5,38642.6,219368.8,52038.0,14548.1,1253.2,3246.1,14735.5
46,47.0,155618.6,48.5,38642.6,220281.2,52038.0,14548.1,1258.2,3282.1,14845.7
47,48.0,155618.6,48.5,38628.1,220238.1,52038.0,14548.1,1258.2,3408.6,15693.9

In [2]:
fig, ax = plt.subplots(figsize=(12,10))
plot_gen_type(avg_gen,ax,['Wind','Solar','Nuclear'],['MW_WIND','MW_SOLAR','MW_NUCLEAR'])
ax.set_title('Renewable Energy Trends',fontsize=22)

NameError: name 'plt' is not defined

In [5]:
sixty.head()

,UTILITYNUMBER,UTILITYNAME,PLANTID,PLANTNAME,NETSUMMERCAPACITY(MW),LATITUDE,LONGITUDE,MONTH,NAMEPLATECAPACITY(MW),NETWINTERCAPACITY(MW),DATAYEAR,GEN_TYPE
0,195,Alabama Power Co,2.0,Bankhead Dam,56.0,33.458665,-87.356823,1,56.0,56.0,2016,hydroelectric
1,195,Alabama Power Co,3.0,Barry,138.0,31.006900,-88.010300,1,138.0,138.0,2016,coal
2,195,Alabama Power Co,3.0,Barry,137.0,31.006900,-88.010300,1,137.0,137.0,2016,coal
3,195,Alabama Power Co,3.0,Barry,249.0,31.006900,-88.010300,1,249.0,249.0,2016,coal
4,195,Alabama Power Co,3.0,Barry,362.0,31.006900,-88.010300,1,362.0,362.0,2016,coal

In [5]:
sixty_group = sixty.groupby(['UTILITYNAME','PLANTID','PLANTNAME','LATITUDE','LONGITUDE']).agg({'NAMEPLATECAPACITY(MW)':'sum',
                                                                                            'GEN_TYPE':'max'})
sixty_group = sixty_group.reset_index()

In [6]:
sixty_group.GEN_TYPE.value_counts()

solar               5558
natural_gas         3335
hydroelectric       2489
wind                2149
oil                 1877
other/unreported     984
coal                 399
geothermal            97
nuclear               74
Name: GEN_TYPE, dtype: int64

In [12]:
def colorscheme(row):
    if row['GEN_TYPE'] == 'solar':
        return 'orange'
    elif row['GEN_TYPE'] == 'natural_gas':
        return 'gray'
    elif row['GEN_TYPE'] == 'hydroelectric':
        return 'darkblue'
    elif row['GEN_TYPE'] == 'wind':
        return 'lightblue'
    elif row['GEN_TYPE'] == 'oil':
        return 'darkpurple'
    elif row['GEN_TYPE'] == 'other/unreported':
        return 'white'
    elif row['GEN_TYPE'] == 'coal':
        return 'black'
    elif row['GEN_TYPE'] == 'geothermal':
        return 'red'
    else:
        return 'green'
    
def icon(row):
    if row['GEN_TYPE'] == 'solar':
        return 'sun'
    elif row['GEN_TYPE'] == 'natural_gas':
        return 'fire-alt'
    elif row['GEN_TYPE'] == 'hydroelectric':
        return 'water'
    elif row['GEN_TYPE'] == 'wind':
        return 'wind'
    elif row['GEN_TYPE'] == 'oil':
        return 'oil-can'
    elif row['GEN_TYPE'] == 'other/unreported':
        return 'times-circle'
    elif row['GEN_TYPE'] == 'coal':
        return 'smog'
    elif row['GEN_TYPE'] == 'geothermal':
        return 'mountain'
    else:
        return 'atom'

In [13]:
sixty_group['NAMEPLATECAPACITY(MW)'] = np.round(sixty_group['NAMEPLATECAPACITY(MW)'],1)
sixty_group['COLOR'] = sixty_group.apply (lambda row: colorscheme(row),axis=1)
sixty_group['ICON'] = sixty_group.apply (lambda row: icon(row),axis=1)

In [14]:
sixty_group

,UTILITYNAME,PLANTID,PLANTNAME,LATITUDE,LONGITUDE,NAMEPLATECAPACITY(MW),GEN_TYPE,COLOR,ICON
0,"1025 Traveller Solar, LLC",62660.0,"1025 Traveller Solar, LLC",35.427308,-79.126320,10.0,solar,orange,sun
1,"1047 Little Mountain Solar, LLC",62661.0,"1047 Little Mountain Solar, LLC",36.197067,-80.806730,6.0,solar,orange,sun
2,126 Grove Solar LLC,60858.0,126 Grove Solar LLC,42.076119,-71.422710,68.0,solar,orange,sun
3,126 Grove Solar LLC,60858.0,126 Grove Solar LLC,42.076119,-71.422707,6.0,solar,orange,sun
4,158th Fighter Wing,60542.0,158th Fighter Wing Solar Farm,44.477705,-73.153412,4.5,solar,orange,sun
...,...,...,...,...,...,...,...,...,...
16957,Zion Energy LLC,55392.0,Zion Energy Center,42.477600,-87.895000,28219.5,natural_gas,gray,fire-alt
16958,Zotos International,57648.0,Zotos International WPGF,42.886944,-76.968333,47.6,wind,lightblue,wind
16959,Zotos International,57648.0,Zotos International WPGF,42.886944,-76.968330,115.6,wind,lightblue,wind
16960,Zumbro Solar LLC,61574.0,Zumbro Community Solar Garden,44.319478,-92.670340,21.0,solar,orange,sun
16961,esVolta LP,60760.0,Millikan BESS,33.691000,-117.833000,48.0,other/unreported,white,times-circle

In [15]:
import folium

denver = [39.7392,-104.9903]
tooltip = 'Click for more info'

# popup = folium.Popup(html = f'<strong>Plant Name: </strong> {row["PLANTNAME"]} \n <strong>Capacity MW: </strong> {row["NAMEPLATECAPACITY(MW)"]}',min_width=500,max_width=500)

m = folium.Map(location=denver, zoom_start=10)
sixty_group.apply(lambda row:folium.Marker(location=[row["LATITUDE"], 
                                                   row["LONGITUDE"]]
                                          ,popup=folium.Popup(html = f'<strong>Plant Name: </strong> {row["PLANTNAME"]}<br> <strong>Generation Type: </strong> {row["GEN_TYPE"]} <br> <strong>Capacity: </strong> {row["NAMEPLATECAPACITY(MW)"]} Mw',min_width=100,max_width=300),
                                          icon=folium.Icon(color=row["COLOR"])
                                           ,tooltip=tooltip).add_to(m),
                                                     axis=1)

m.save('../html/plant_map.html')

In [29]:
m = folium.map(location=[39.7392,04.9903],zoom_start=10)

m._build_map()

sixty.apply(lambda row:folium.CircleMarker(location=[row["LATITUDE"], 
                                                  row["LONGITUDE"]]).add_to(m),
         axis=1)

TypeError: 'module' object is not callable